<div class="carousel-container">
  <div class="carousel-container">
    <div *ngIf="recipes && recipes.length > 0">
      <div class="carousel-item" *ngFor="let recipe of recipes">
        <img
          src="{{ recipe.image_url }}"
          alt="{{ recipe.title }}"
          (click)="redirectToDetails(recipe.id)"
        />
        <h3>{{ recipe.title }}</h3>
        <!-- <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul> -->
      </div>
    </div>
    <div *ngIf="!recipes">Carregando...</div>
  </div>
</div>
