<div class="container p-5">
  <h2>TROCAR SENHA</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <div class="email">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
          Insira um email válido
        </div>
      </div>
      <div class="newPassword">
        <label for="password">Nova Senha</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="password">
        <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="error-message">
          A senha é obrigatória
        </div>
      </div>
      <div class="newPassword">
        <label for="newPasswordConfirm">Confirmar Senha</label>
        <input type="password" id="newPasswordConfirm" formControlName="newPasswordConfirm" class="password">
        <div *ngIf="newPasswordConfirm?.invalid && (newPasswordConfirm?.dirty || newPasswordConfirm?.touched)" class="error-message">
          As senhas não coincidem
        </div>
      </div>
    </div>
    <div class="btn">
      <button type="submit">Alterar Senha</button>
    </div>
  </form>
</div>

