<div class="container p-5">
  <div class="logo-image">
    <img src="assets/images/logo.jpeg" alt="">
  </div>
  <h2>ENTRAR</h2>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <div class="user">
        <label for="email" class="">Email</label>
        <input type="text" id="email" formControlName="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
          Digite um email válido
        </div>
      </div>
      <div class="password">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="password?.hasError('minlength') && (password?.dirty || password?.touched)" class="error-message">
          A senha deve ter no mínimo 8 caracteres.
        </div>
      </div>
      <div class="forgot-password">
        <a href="/forgot-password">
          Esqueceu a senha?
        </a>
      </div>
    </div>
    <div class="btn">
      <button type="submit">Entrar</button>
      <button type="button" (click)="register()">Cadastrar</button>
    </div>
  </form>
</div>

