<div class="container MB-5">
  <h2>Sobre Nós</h2>

  <p>Bem-vindo ao Projeto Livro de Receitas!</p>

<p>Este projeto utiliza o framework Flask em Python para criar um sistema de gerenciamento de receitas culinárias. Com ele, você pode cadastrar novos usuários, fazer login, adicionar, atualizar, excluir e exportar receitas, além de associar categorias e imagens às receitas.</p>

<p>Recursos do Projeto Livro de Receitas:</p>
<ul>
  <li>Cadastro de Usuário: Os usuários podem se registrar fornecendo um nome de usuário, senha e endereço de e-mail. As senhas são armazenadas de forma segura utilizando funções de hash.</li>
  <li>Autenticação de Usuário: Os usuários podem fazer login utilizando seu endereço de e-mail e senha para acessar recursos protegidos.</li>
  <li>Gerenciamento de Receitas: Os usuários podem adicionar novas receitas, atualizar informações existentes, excluir receitas e visualizar uma lista de todas as receitas cadastradas.</li>
  <li>Categorias de Receitas: Cada receita está associada a uma categoria específica, permitindo a organização e filtragem das receitas com base nas categorias.</li>
  <li>Imagens de Receitas: O sistema busca automaticamente imagens relacionadas ao nome de cada receita cadastrada, fornecendo uma URL para a imagem principal da receita.</li>
</ul>

<p>Para utilizar o sistema, é necessário realizar o login ou cadastrar-se como um novo usuário. Após o login, você terá acesso às funcionalidades disponíveis.</p>

<p>Sobre os Desenvolvedores:</p>
<ul>
  <li>Guilherme Konishi - Matrícula: 2840482021003</li>
  <li>Eduardo Petrilli - Matrícula: 2840482021004</li>
  <li>Carlos Cesar - Matrícula: 2840481923010</li>
</ul>

<p>Docente:</p>
<ul>
  <li>Fabricio Gustavo Henrique</li>
</ul>

<p>Sobre o App:</p>

<p>O desenvolvimento de um sistema Livro de Receitas é um processo complexo que envolve uma série de etapas, desde a definição de requisitos até o lançamento do produto final. Nesse caso, utilizamos o Flask como framework para o desenvolvimento do back-end e o Angular para o front-end, com o banco de dados Azure Postgres hospedado na nuvem.</p>

<p>O Flask é um framework leve e flexível para desenvolvimento web em Python. Ele é muito adequado para a criação de APIs RESTful, tornando-se uma escolha adequada para o back-end de um sistema Livro de Receitas. Com o Flask, é possível criar rotas para manipular dados do banco de dados e retornar respostas em formato JSON, que podem ser consumidas pelo front-end.</p>

<p>Já o Angular é um framework para desenvolvimento de aplicações web em JavaScript. Ele é especialmente adequado para a criação de interfaces de usuário complexas, com o uso de componentes reutilizáveis e uma arquitetura de aplicação bem definida. Com o Angular, é possível criar uma interface de usuário amigável e responsiva para o sistema Livro de Receitas.</p>

<p>O Azure Postgres é um serviço de banco de dados PostgreSQL hospedado na nuvem da Microsoft. Ele oferece alta disponibilidade, escalabilidade e segurança, o que o torna uma escolha adequada para o armazenamento de dados de um sistema Livro de Receitas.</p>

<p>Ao desenvolver um sistema Livro de Receitas com Flask para o back-end, Angular para o front-end e Azure Postgres como banco de dados na nuvem, é possível criar um sistema seguro, escalável e responsivo, acessível de qualquer lugar. É importante lembrar que o desenvolvimento de um sistema Livro de Receitas envolve muitas outras etapas, como o design de banco de dados, a definição de modelos de negócio, a integração com outros sistemas e a implementação de medidas de segurança, mas o uso dessas tecnologias pode ajudar a tornar o processo mais eficiente e eficaz.</p>

</div>
