<div class="container">
  <h2>Cadastro</h2>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group mb-3">
      <label for="username">Nome</label>
      <input type="text" id="username" formControlName="username" class="form-control">
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
        O nome é obrigatório
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
        Insira um email válido
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" class="form-control">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
        A senha é obrigatória
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="confirmPassword">Confirmar Senha</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
        As senhas não coincidem
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
